<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('edit')"></head>
<body class="bg-dark">
<div class="container my-3">
    <h1 class="text-light">Inserisci una nuova foto </h1>
    <form
            id="fotografia-edit"
            method="POST"
            th:action="@{/foto/edit/{id}(id = ${fotografia.id})}"
            th:object="${fotografia}"
            class="row"
    >
        <div class="col-8 row">
            <!--il th:field sta al posto del name-->
            <div class="mb-3 col-3" th:insert="fragments/components :: formField('text','Titolo', 'titolo')">

            </div>
            <div class="mb-3 col-7" th:insert="fragments/components :: formField('text','Foto', 'url')">

            </div>


            <div class="mb-3 col-8">
                <label for="descrizione" class="form-label text-light">Descrizione</label>
                <textarea class="form-control" id="descrizione" name="descrizione"
                          th:class="${#fields.hasErrors('descrizione')} ? 'form-control is-invalid' : 'form-control'"
                          th:field="*{descrizione}"></textarea>
                <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 mb-3">
                <label class="form-label text-light">Vuoi renderla visibile?</label>
                <div class="d-flex align-items-center">
                    <div class="form-check" >
                        <input class="form-check-input " type="checkbox" name="visibile" id="yes-visible" value="true"
                               th:field="*{visibile}" >
                        <label class="form-check-label text-light" for="yes-visible">
                            Sì
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Salva</button>
            <a th:href="@{/foto}" class="btn btn-primary">Indietro</a>
        </div>
    </form>
</div>
</body>
</html>