<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('index categorie')"></head>
<body class="bg-dark">
<div class="container my-3">
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
    </div>
    <h1 class="text-light">La lista di categorie</h1>
    <section>
        <form
                th:action="@{/categorie}"
                id="categorie-form"
                th:object="${categoria}"
                method="POST"
                class="row"
        >
            <div class="col-5 my-4"
                 th:insert="fragments/components :: formField('text','Nome categoria', 'nome')">

            </div>
            <div class="col-12 mb-5">
                <button class="btn btn-primary" type="submit">Salva</button>
                <a th:href="@{/foto}" class="btn btn-primary">Indietro</a>
            </div>
        </form>
    </section>

    <section>
        <table class="table">
            <thead>
            <tr>
                <th>Nome ingrediente</th>
                <th>Elimina ingrediente</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-light"
                th:each="categoria : ${categorie}"
                th:object="${categoria}"
            >
                <td th:text="*{nome}"></td>
                <td>
                    <form method="POST" th:action="@{/categorie/delete/{id}(id= *{id})}"
                          onsubmit="return confirm('Vuoi davvero eliminare?')">
                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-minus"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>