<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('index categorie')"></head>
<body class="bg-dark">
<div class="container my-3">
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
    </div>
    <h1 class="text-light">La lista di categorie</h1>
    <section>
        <form
                th:action="@{/categorie}"
                id="categorie-form"
                th:object="${categoria}"
                method="POST"
                class="row"
        >
            <div class="col-5 my-4"
                 th:insert="fragments/components :: formField('text','Nome categoria', 'nome')">

            </div>
            <div class="col-12 mb-5">
                <button class="btn btn-primary" type="submit">Salva</button>
                <a th:href="@{/foto}" class="btn btn-primary">Indietro</a>
            </div>
        </form>
    </section>

    <section>
        <table class="table">
            <thead>
            <tr>
                <th>Nome ingrediente</th>
                <th>Elimina ingrediente</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-light"
                th:each="categoria : ${categorie}"
                th:object="${categoria}"
            >
                <td th:text="*{nome}"></td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                </td>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Sei sicuro di voler eliminare la foto?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                <form method="POST" th:action="@{/categorie/delete/{id}(id= *{id})}">
                                    <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Elimina</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </section>

</div>
</body>
</html>