<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('index messaggi')"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: topNavbar('foto')"></nav>
<div class="container my-3">
    <h1 class="text-light">Qui ci sono i tuoi messaggi</h1>

    <div th:if="${listaMessaggi.empty}" class="alert alert-info">
        <h3>Non hai nessun messaggio</h3>
    </div>

    <table class="table" th:if="${!listaMessaggi.empty}" >
        <tbody>
        <tr th:each="messaggio : ${listaMessaggi}">
            <td th:text="${messaggio.email}">
            <td th:text="${messaggio.testo}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>